<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Customer Details</title>
  </head>
  <body>
    <h2>Details for {{ data[0] }}</h2>
    <p>Account No: {{ data[1] }}</p>
    <p>Balance: {{ data[2] }}</p>
    <p>Credit Score: {{ data[3] }}</p>
    <h3>Loan Details</h3>
    <p>Total Loan Amount: {{ data[4] }}</p>
    <p>Loan Repaid: {{ data[5] }}</p>
    <p>Loan Remaining: {{ data[6] }}</p>
    <p>Due Date: {{ data[7] }}</p>
  </body>
</html>
